<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="SAP.Middleware.Connector">
      <sectionGroup name="ClientSettings">
        <section name="DestinationConfiguration" type="SAP.Middleware.Connector.RfcDestinationConfiguration, sapnco"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>

  <SAP.Middleware.Connector>
    <ClientSettings>
      <DestinationConfiguration>
        <destinations>
          <!--<add NAME="PR1" USER="" PASSWD="" CLIENT="100" LANG="S" ASHOST="172.20.1.101" SYSNR="01" MAX_POOL_SIZE="10" IDLE_TIMEOUT="10"/>-->
          <add NAME="QA1" USER="webplz" PASSWD="webplz.15" CLIENT="100" LANG="S" ASHOST="172.20.3.202" SYSNR="00" MAX_POOL_SIZE="10" IDLE_TIMEOUT="10"/>
          <add NAME="DV1" USER="webplz" PASSWD="webplz.2015" CLIENT="300" LANG="S" ASHOST="172.20.3.200" SYSNR="00" MAX_POOL_SIZE="10" IDLE_TIMEOUT="10"/>
          <!--<add NAME="DV1" USER="rfgen" PASSWD="plazas01" CLIENT="300" LANG="S" ASHOST="172.20.3.200" SYSNR="00" MAX_POOL_SIZE="10" IDLE_TIMEOUT="10"/>-->        
        </destinations>
      </DestinationConfiguration>
    </ClientSettings>
  </SAP.Middleware.Connector>
    
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  
  <appSettings>
    <!-- Entorno SAP -->
    <add key="EntornoSAP" value="DV1" /> 
    <!-- ACCESO A SAP QA -->
    <!--<add key="AppServerHost" value="172.20.3.202" /> 
    <add key="Client" value="100" />
    <add key="SystemNumber" value="00" />
    <add key="Username" value="vb_printer" />
    <add key="Password" value="plazas01" />-->
    <!-- ACCESO A SAP DV -->
    <!--<add key="AppServerHost" value="172.20.3.200" />
    <add key="Client" value="300" />
    <add key="SystemNumber" value="00" />
    <add key="Username" value="vb_printer" />
    <add key="Password" value="plazas01" />-->
    <!-- PUERTO IMPRESORA FISCAL-->
    <add key="port" value="1" />
    <!-- FORMAS DE PAGO -->
    <add key="payment" value="16" />
    <!--<add key="ClientSettingsProvider.ServiceUri" value="" />-->
  </appSettings>
  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>